.top-container {
    margin-left: 5%;
    margin-right: 5%
}

.news-container {
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    padding-left: 0;
    padding-right: 0;
    margin: 1% 5% 1%;
    position: relative;
}

.newsimg {
    float: left;
    width: 200px;
    height: 130px
}

.mainbutton {
    margin: 0 45% 0;
    background-color: transparent;
    border: 3px solid #00ff2a;
    color: white;
    font-weight: 600;
    padding: 1% 5% 1%;
    border-radius: 20px;
}

.newsbutton {
    background: none;
    width: 100%;
    border: none;
    padding: 0;
}

.detailbutton {
    background: #1f7b34;
    color: white;
    font-weight: 600;
    padding: 1% 0 1%;
}

#particles-js {
    height: 3000px;
}