{% include 'essential/header.html' %}
{% load static %}

<div class="container py-48 px-10 mx-0 min-w-full grid place-items-center">
    <button class="text-white text-xl border-4 border-green-500 hover:bg-green-500 hover:text-white active:bg-green-600 px-20 py-4 rounded-full duration-150"
            type="button" id="capture" value="true">
        বলুন
    </button>

    <p style="color:yellow">
        <span>Status: </span>
        <span id="status">Idle</span>
        <br><br>
    </p>
    <h1 id="output" rows=10 placeholder="result" style="color: #FFFFFF"></h1>

    <script type="text/javascript" src={% static 'speechRecog/jquery-modified.min.js' %}></script>
    <script type="text/javascript" src={% static 'speechRecog/speechRecognition.js' %}></script>
    {% include 'essential/footer.html' %}

</div>
