{% include 'header.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'css/news.css' %}>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=8LhsoKGb"></script>
<div class="top-container text-center">
    <br>
    <button class="btn mainbutton" id="capture" value="true">
        বলুন
    </button>

    <p style="color:yellow">
        <span>Status: </span>
        <span id="status">Idle</span>
        <br><br>
    <h1 id="output" rows=10 placeholder="result" style="color: #ffffff"></h1>
    </p>

    <script type="text/javascript" src={% static 'speechRecog/jquery-modified.min.js' %}></script>
    <script type="text/javascript" src={% static 'speechRecog/speechRecognition.js' %}></script>
    {% csrf_token %}
    <div style="position: absolute">
        {% if number != 0 %}
            {% for n in news %}
                <div class="container news-container clearfix">
                    <button class="newsbutton" onclick=speakNews{{ n.id }}()>
                        <img class="newsimg" src={{ n.imagelink }}>
                        <br>
                        <p class="text-center">
                            <b> {{ n.heading }} </b>
                        </p>
                        <p class="text-center">{{ n.time }}
                            &ensp;
                            <i>
                                <a target="_blank" href={{ n.newslink }}>-{{ n.papername }}</a>
                            </i>
                        </p>
                    </button>
                    <button class="newsbutton detailbutton" onclick=speakDetails{{ n.id }}()> বিস্তারিত</button>
                </div>
                <script>
                    var isSpeaking = false;

                    function speakDetails{{ n.id }}() {
                        if (!isSpeaking) {
                            text = "{{ n.details }}";
                            responsiveVoice.speak(text, "Bangla Bangladesh Male", {pitch: 1}, {volume: 1.4});
                            isSpeaking = true;
                        } else if (isSpeaking) {
                            responsiveVoice.cancel();
                            isSpeaking = false;
                        }
                    }
                </script>
            {% endfor %}
        {% elif number == 0 %}
            <h1 class="text-center" style="color: #ffffff">দুঃখিত। কোনো ফলাফল পাওয়া যায়নি</h1>
    {% endif %}
    </div>
    <script src={% static 'js/particles.js' %}></script>
    <script src={% static 'js/app.js' %}></script>
</div>