{% include 'header.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'css/news.css' %}>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=8LhsoKGb"></script>
<div class="top-container text-center">
    <br>
    <button class="btn mainbutton" id="capture" value="true">
        বলুন
    </button>

    <p style="color:yellow">
        <span>Status: </span>
        <span id="status">Idle</span>
        <br><br>
    <h1 id="output" rows=10 placeholder="result" style="color: #000000"></h1>
    </p>

    <script type="text/javascript" src={% static 'speechRecog/jquery.min.js' %}></script>
    <script type="text/javascript" src={% static 'speechRecog/speechRecognition.js' %}></script>
    {% csrf_token %}
    {% for n in news %}
        <div class="container news-container clearfix" id="news-container">
            <button class="newsbutton" onclick=speakNews{{ n.id }}()>
                <img class="newsimg" src={{ n.imagelink }}>
                <br>
                <p class="text-center">
                    <b> {{ n.heading }} </b>
                </p>
                <p class="text-center">{{ n.time }}
                    &ensp;
                    <i>
                        <a target="_blank" href={{ n.newslink }}>-{{ n.papername }}</a>
                    </i>
                </p>
            </button>
            <button class="newsbutton detailbutton" onclick=speakDetails{{ n.id }}()> বিস্তারিত </button>
        </div>

        <script>
            function speakDetails{{ n.id }}() {
                text = "{{ n.details }}";
                responsiveVoice.speak(text, "Bangla Bangladesh Male", {pitch: 1}, {rate: 0.75}, {volume: 1.4});
            }
        </script>
    {% endfor %}
</div>