{% load socialaccount %}
{% include 'essential/header.html' %}
{% load static %}

{% block signup %}
    <div class="flex flex-col items-center justify-center">

        <div class="bg-white shadow rounded-[.625rem] lg:w-1/3  md:w-1/2 w-full p-10 mt-16 mb-16">
            <p class="text-2xl font-medium text-gray-800">Sign Up account</p>
            <p class="text-sm mt-4 text-gray-500">Already have an account?
                <a href="{% url 'Login' %}"
                   class="text-sm font-medium leading-none text-gray-800 cursor-pointer focus:text-gray-500 focus:outline-none focus:underline hover:text-gray-500 hover:underline">
                    Login here
                </a>
            </p>

            <a aria-label="Continue with google" role="button"
               class="py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-10 transition ease-in-out delay-150 hover:scale-110"
               href="{% provider_login_url 'google' %}">
                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg2.svg" alt="google">
                <p class="text-base font-medium ml-4 text-gray-700">Continue with Google</p>
            </a>

            <div class="w-full flex items-center justify-between py-5">
                <hr class="w-full bg-gray-400">
                <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
                <hr class="w-full bg-gray-400  ">
            </div>

            <form method="POST">
                {% csrf_token %}
                <div class="w-full">
                    <label for="username">
                        Username
                        {{ register_form.username }}
                    </label>
                </div>
                <div class="mt-6 w-full">
                    <label for="first_name">
                        First Name
                        {{ register_form.first_name }}
                    </label>
                </div>
                <div class="mt-6 w-full">
                    <label for="last_name">
                        Last Name
                        {{ register_form.last_name }}
                    </label>
                </div>
                <div class="mt-6 w-full">
                    <label for="email">
                        Email
                        {{ register_form.email }}
                    </label>
                </div>
                <div class="mt-6 w-full">
                    <label for="pass">
                        Password
                    </label>
                    <div class="relative flex items-center justify-center">
                        {{ register_form.password }}
                        <a class="absolute right-0 mt-2 mr-3 cursor-pointer" onclick="ChangePasswordVisibility()">
                            <img id="viewport" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg5.svg" alt="viewport">
                        </a>
                    </div>
                </div>
                <div class="mt-6 w-full">
                    <label for="retype_password">
                        Retype Password
                        {{ register_form.retype_password }}
                    </label>
                </div>
                <div class="text-end  text-sm mt-2">
                    <a href={% url 'Password Reset' %}>
                        Forgot password?
                    </a>
                </div>
                <div class="mt-8">
                    <button role="button" type="submit"
                            class="text-sm font-semibold leading-2 text-white bg-sky-700 border rounded py-4 w-full focus:outline-none hover:bg-indigo-600">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

<script>
    function ChangePasswordVisibility() {
        let passbtn = document.getElementById("pass");
        if (passbtn.type === "password") {
            passbtn.type = "text";
        } else {
            passbtn.type = "password";
        }
    }
</script>